# The ACCOUNT_SID starts with "AC". Get your ACCOUNT_SID and AUTH_TOKEN from here: https://console.twilio.com/?frameUrl=%2Fconsole%3Fx-target-region%3Dus1

ACCOUNT_SID=ACxxxxxxxxxxxxxxxxx
AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxx
